%p#notice= notice
= link_to 'Add New', new_venue_path

%h2 Import
= form_tag import_venues_path, multipart: true do
  = file_field_tag :file
  = submit_tag "Import"

%h2 Call These
%table
  %thead
    %tr
      %th Name
      %th Phone
      %th Status
      %th
      %th{:colspan => "3"}
  %tbody
    - @venues.needs_follow_up.each do |venue|
      %tr
        %td= link_to venue.name, venue
        %td= venue.phone
        %td= venue.status

%h1 All Venues
%table
  %thead
    %tr
      %th Name
      %th State
      %th Website
      %th Email
      %th Status
      %th
      %th{:colspan => "3"}
  %tbody
    - @venues.each do |venue|
      %tr
        %td= link_to venue.name, venue
        %td= venue.state
        %td= link_to venue.website, venue.website
        %td= venue.email
        %td= venue.status
        %td
        %td
        %td= link_to 'Edit', edit_venue_path(venue)
