%p#notice= notice
%h2 Import Venues
= form_tag import_venues_path, multipart: true do
  = file_field_tag :file
  = submit_tag "Import"
%h1 Listing Venues
%table
  %thead
    %tr
      %th Name
      %th State
      %th Website
      %th Phone
      %th Email
      %th Contact name
      %th Alcohol
      %th Distance from airport
      %th Religious
      %th Lake
      %th Rental on site
      %th Connected
      %th{:colspan => "3"}
  %tbody
    - @venues.each do |venue|
      %tr
        %td= venue.name
        %td= venue.state
        %td= venue.website
        %td= venue.phone
        %td= venue.email
        %td= venue.contact_name
        %td= venue.alcohol
        %td= venue.distance_from_airport
        %td= venue.religious
        %td= venue.lake
        %td= venue.rental_on_site
        %td= venue.connected
        %td= link_to 'Show', venue
        %td= link_to 'Edit', edit_venue_path(venue)
        %td= link_to 'Destroy', venue, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Venue', new_venue_path
